<html>
	<head>
		<title>Hotels</title>
	</head>
	<body>
		<form action="{% url 'Bookings:bookingConfirmation' %}" method="post">
			{% csrf_token %}

		<!-- <form action="routeSearch" method="POST"> -->
		<p>List of Hotels Available</p>
		<select name="hotelName">
		{% for hotel in hotelList %}
		<option value="{{ hotel }}">{{hotel}}</option>
		{% endfor %}
		</select>
			<!-- <input type="text" name="movieName"/> --></br></br>
			<input type="submit" value="Book" name="Book"/>
            <input type="submit" value="Save" name="Save"/>
		</form>
	</body>
</html>
